{{> head }}
{{> navbar }} 
<div class="row">
    <div class="col-8">
        <h1>Informatica</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas cum corporis impedit natus molestias, itaque ipsum hic. Reprehenderit totam placeat obcaecati. Eum ipsum delectus voluptatem illum, ullam et dolorem numquam!</p>
    </div>

    <div class="col-4">
        <img src="/assets/img/inf.jpg" class="img-thumbnail">
    </div>
</div>

   {{> footer }}